{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <style>
            body{
                background: #a1ffce;
                background: -webkit-linear-gradient(to right, #a1ffce, #faffd1); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #a1ffce, #faffd1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            }
        </style>

        {% block scripts %} {% endblock scripts %}
        <style>
        {% block style %}{% endblock style %}
        </style>

    </head>
    <body class=" flex justify-center items-center" >
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="app" class="font-extrabold">
            {% block content %} {% endblock content %}
        </div>
        <script src="" async defer></script>
    </body>
</html>