{% extends 'base.html' %}

{% block style %}
    input[type="text"], input[type="password"],input[type="email"] {
        background: transparent;
        font-size:20px;
        border-bottom: 2px solid black;
        width: 100%;
        padding: 12px 20px 0px 20px;
        display: inline-block;
        box-sizing: border-box;
        letter-spacing: 2px;
        transition: 0.5s;
        font-family: "Architects Daughter";
        

    }
    input[type="text"]:focus, input[type="password"]:focus,input[type="email"]:focus {
        font-size:30px;
        border:none;
        outline:none;
        letter-spacing: 0px;
        border-bottom: 2px solid #fc5858;
    }
    label{
        display: block;
        font-size: 30px;
        margin-top:10px;
    }
    .helptext{
        display: block;
        font-family: Arial;
        color: #fc5858;
        font-size: 12px;
        
    }
    .btnHolder{
        
    position: relative;
    left:50%;
    transform: translateX(-50%);
    }
{% endblock style %}

{% block content %}
    <div class="self-center justify-self-center h-screen flex justify-center flex-col">
    <h1 class="text-[100px]">Register</h1>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="btnHolder">
        <input type="submit" value="Register" class="submit-btn text-[50px]" />
        <button class="submit-btn text-[50px]" id="btn">Login</button>
        </div>
    </form>
    </div>
    <script>
        btn = document.getElementById('btn');
        btn.addEventListener('click', (ev) => {
            ev.preventDefault();
            window.location.href = "{% url 'login' %}";
        })
    </script>
{% endblock %}
